name: Test
on:
  push:
    branches:
      - master
  pull_request:
env:
  FORCE_COLOR: 2
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: ["18", "20", "22"]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        uses: bahmutov/npm-install@v1
        with:
          useLockFile: false
          install-command: yarn --silent
      - name: Run tests
        run: yarn test
